services:
  orchestrator-api:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.orchestrator
    env_file:
      - ../../.env.prod
    environment:
      - POSTGRES_HOST=postgres
      - DATABASE_URL
      - GROQ_API_KEY
      - ELEVENLABS_API_KEY
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  worker:
    build:
      context: ../../
      dockerfile: infra/docker/Dockerfile.worker
    env_file:
      - ../../.env.prod
    environment:
      - POSTGRES_HOST=postgres
      - DATABASE_URL
      - GROQ_API_KEY
      - ELEVENLABS_API_KEY
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    env_file:
      - ../../.env.prod
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
