@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.bg');
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00ff8833;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00ff8866;
}

@keyframes waveform {
  0%, 100% { height: 20%; opacity: 0.5; }
  50% { height: 100%; opacity: 1; }
}

.animate-waveform {
  animation: waveform 1s infinite ease-in-out;
}
